/* src/components/Objects.module.css */

.container {
  padding: 16px;
}

.tabNav {
  margin-bottom: 16px;
  border-bottom: 1px solid #e1e4e8;
  position: relative;
}

.tabNavDark {
  border-bottom: 1px solid #ffffff;
}

.tabItem {
  padding: 4px 8px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border: none;
  background: none;
  border-radius: 4px; /* Rounded edges */
  position: relative;
}

.tabItem:hover:not(.tabItemActive) {
  background-color: var(--tab-hover-color);
}

.tabItemActive {
  pointer-events: none; /* Disable hover effect */
}

.tabItemWrapper {
  display: inline-block;
  padding: 4px 8px;
  border-bottom: 3px solid transparent; /* Default transparent border */
}

.tabItemWrapperActive {
  border-bottom: 3px solid #ff957d; /* Active border */
}

.tabNav::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px; /* Adjust to ensure it is covered by the active tab */
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  z-index: 0;
}

.insights {
  font-size: 54px; /* 3 times bigger */
  color: #b6bdc8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust height as needed */
}

.items {
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 16px;
  background-color: var(--items-bg-color);
}

.itemsHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.noItems {
  font-size: 16px;
  color: var(--no-items-color);
}

.newItemButton {
  margin-top: 16px;
}